/* Empty. Add your own CSS if you like */
.moll_nav{
	background-color:#FF2A50;
	color:white;
}

.scroll{
  height:100%;
}

.bar_watch { background-image: none !important; }
.centerme {
    margin: 0 auto;
}
 
.fullscreen-player {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
}

 .overlay {
  position: absolute; 
  top: 50%;
  margin-y:50%;
  bottom: 50%;
  height:40px;
  color: #FFF; 
  text-align: center;
  font-size: 20px;
  background-color: rgba(221, 221, 221, 0.3);
  width: 100%;
}

 .share_button {
  position: absolute;
  top:5%;
  left:80%;
  color: #FFF; 
  font-size:230%;
  text-align: center;
}

.home_button {
  position: absolute;
  top:5%;
  right:80%;
  color: #FFF; 
  font-size:230%;
  text-align: center;
  text-decoration: none;

}

.button_link{
	text-decoration: none;
	color:white;

}
