<ion-view view-title="Molli">
  <ion-content>
    <ion-list>
    	<div class="row">
      		<div class="col col-25"></div>
       		<img src="../img/LOGO@3x.png" class="col col-50">
       		<div class="col col-25"></div>
      	</div>
      	<a ng-href="#/app/create_montage" style="text-decoration:none;">
      	 <button class="button button-block button-assertive">Make A Montage <i class="icon ion-plus-circled"></i></button>
      	</a>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
