<ion-view view-title="Molli" hide-back-button="true">
  <ion-content>
    <ion-list>
      <div class="item item-divider">
        Most Recent
      </div>
      
      <div class="list card" ng-repeat="montage in montages">
        <div class="item item-image">
          <a href="#/app/montage/{{montage._id}}"><video src='http://127.0.0.1:3000/api/montage/watch/{{montage.videos[0].video}}' style="height:300px;width:300px;">
        </div>

      </div>
      <ion-infinite-scroll
        on-infinite="loadMore()"
        distance="1%"
        ng-if="!noMoreVideos">
      </ion-infinite-scroll>
    </ion-list>
    <h3 ng-show="noMoreVideos" style="text-align:center;">No more tripps </h3>
  </ion-content>
</ion-view>
