<ion-view  view-title="Login" hide-back-button="true">
  <ion-content>
    <ion-list>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" id="username" ng-model="userInfo.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" id="password" ng-model="userInfo.password">
        </label>

        <label class="item">
          <button class="button button-block button-positive"  href="#" ng-click="doLogin()">Log in</button>
        </label>
        <br />
    </ion-list>

        <p style="padding-left:8%;font-weight:bold;text-align:center;">No account?<br/><br/><a ui-sref="app.sign_up" class="button button-outline button-positive">sign up here.</a></p>
  </ion-content>
</ion-view>
