<ion-view  view-title="Login" hide-back-button="true">
  <ion-content>
    <form >
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" id="username" ng-model="userInfo.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" id="password" ng-model="userInfo.password">
        </label>
        <label class="item">
          <a class="button button-block button-positive" type="submit" ng-click="doLogin()">Log in</a>
        </label>
        <p style="padding:10%;">If you do not have an account please sign up <a ui-sref="app.sign_up">here.</a></p>
      </div>
    </form>
  </ion-content>
</ion-view>
