<ion-view view-title="Trending" hide-back-button="true" has-footer="true" overflow-scroll="true" style="font-family: 'Roboto';">
  <ion-content style="background-color:#1c1c1c !important;">
    <ion-list >
              <ion-card class="card-background-page" ng-repeat="montage in montages">
                <div class="container">  
                  <a ui-sref="app.watch_montage({montage_id: montage._id})" style="text-decoration:none;"> <span></span>
                    <div class = "card-description-box" style="line-height:60px;" >
                      <div class = "card-description"> {{montage.title}} </div>
                    </div>
                    <video poster="{{trustSrc('http://localhost:3000/videos/' + montage.thumbnail_location)}}" class="full-image" style="min-height:33vh; width:100%;height:100%"> </video> 
                  </a>
                </div>
              </ion-card>  
      <ion-infinite-scroll
        on-infinite="loadMore()"
        distance="1%"
        ng-if="!noMoreVideos">
      </ion-infinite-scroll>
    </ion-list>
    <h3 ng-show="noMoreVideos" style="text-align:center;">.... </h3>
  </ion-content>

<!--FOOTER-->
  <div class = "tabs-striped tabs-background-dark tabs-color-royal">
   <div class = "tabs">
    <a class="tab-item active" ui-sref="app.popular">
      <i class="icon ion-ios-flame-outline" ></i>
    </a>
    <a class="tab-item icon  tabs-icon-only" ui-sref="app.create_montage">
      <i class="icon ion-ios-videocam-outline" style="color:white"></i>
    </a>
    <a class="tab-item" ui-sref="app.home">
      <i class="icon ion-ios-clock-outline"></i>
    </a>
  </div>
</div>

</ion-view>
