<ion-view  view-title="Sign Up">
  <ion-content [padding="true"]>
    <form >
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" id="username" ng-model="userInfo.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" id="password" ng-model="userInfo.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="doSignUp()">Sign up</button>
        </label>
        By clicking sign up you are agreeing to our <a ui-sref="app.terms_conditions">Terms and Conditions.</a>
      </div>
    </form>
  </ion-content>
</ion-view>
