<ion-view  view-title="Sign Up">
  <ion-content>
    <form >
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" id="username" ng-model="userInfo.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" id="password" ng-model="userInfo.password">
        </label>
        <label class="item">
          <a class="button button-block button-positive" type="submit" ng-click="doSignUp()">Sign up</a>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
