<ion-view  view-title="Terms and Conditions">
  <ion-content [padding="true"]>
    <p>
      By using the Molli (referred to as “Molli”, “Molli Montages”, “Molli.tv) mobile app you are

agreeing to be bound by the following terms and conditions (&quot;Terms of Use&quot;).

Basic Terms

- You must be 13 years or older to use our service.

- You may not post partially nude, nude, or sexually suggestive photos or videos

- You are responsible for all activity that occurs under your account.

- You must not abuse, threaten, harass, impersonate or intimidate other Molli

users.

- You may not use the Molli service for any illegal or unauthorized purpose.

- International users agree to comply with their local laws regarding online conduct

and acceptable content.

- You are solely responsible for your conduct and any text, data, information,

screen names, graphics, photos, profiles, audio and videos, montages, links

(&quot;Content&quot;) that you submit, post, and display on the Molli service.

- You must not modify, adapt or hack Molli Montages or modify another website so

as to falsely imply that it is associated with Molli.

- You must not access Molli’s private API by any other means other than the Molli

Montage application itself.

- You must not crawl, scrape, or otherwise cache any content from Molli including

but not limited to user profiles and photos.

- You must not create or submit unwanted email or comments to any Molli

members (&quot;Spam&quot;).

- You must not use web URLs in your name without prior written consent from

Molli

- You must not transmit any viruses or worms or any code of a destructive nature.

- You must not, in the use of Molli, violate any laws in your jurisdiction (including

but not limited to copyright laws).

- Violation of any of these agreements can and will result in the termination of your

Molli account. While Molli prohibits such conduct and content on its site, you

understand and agree that Molli cannot be responsible for the Content posted on

its service and you nonetheless may be exposed to such materials and that you

use the Molli service at your own risk.

General Conditions

- We reserve the right to modify or terminate the Molli service for any reason,

without notice at any time.

- We reserve the right to alter these Terms of Use at any time.

- We reserve the right to refuse service to anyone for any reason at any time.

- We reserve the right to force forfeiture of any user account that becomes violates

trademark, inactive, or may mislead other users.

- We may, but have no obligation to, remove any content or accounts containing

content that we determine in our sole discretion are unlawful, offensive,

threatening, defamatory, libelous, obscene or otherwise objectionable or violates

any party&#39;s intellectual property or these Terms of Use.

- We reserve the right to reclaim usernames on behalf of businesses or individuals

that hold legal claim or trademark to those usernames.

Proprietary Rights in Content on Molli

- Molli does NOT claim ANY ownership rights in the text, files, images, photos,

video, sounds, musical works, works of authorship, applications, or any other

materials (collectively, &quot;Content&quot;) that you post on or through the Molli Services.

- By displaying or publishing (&quot;posting&quot;) any Content on or through the Molli, you

hereby grant to Molli a non-exclusive, fully paid and royalty-free, worldwide,

limited license to use, modify, add to, delete from, publicly perform, publicly

display, reproduce and translate such Content, including without limitation

distributing part or all of the Site in any media formats through any media

channels

- Some of the Molli assets may be supported by advertising revenue and may

display advertisements and promotions, and you hereby agree that Molli may

place such advertising and promotion on Molli or on, about, or in conjunction with

your Content. The manner, mode and extent of such advertising and promotion

are subject to change without any specific notice.

- You represent and warrant that:

1. you own the Content posted by you on or through the Molli or otherwise

have the right to grant the license set forth within this section

2. the posting and use of your Content on or through Molli does not violate

the privacy rights, publicity rights, copyrights, contract rights, intellectual

property rights or any other rights of any person, and

3. the posting of your Content on the Molli App and Molli.tv site does not

result in a breach of contract between you and a third party. You agree to

pay for all royalties, fees, and any other monies owing any person by

reason of Content you post on or through Molli.

- Respecting Copyright 

Molli.tv honors the requirements set forth in the Digital Millennium Copyright Act.

We therefore take reasonable steps to expeditiously remove from our Services

any infringing material that we become aware of. If you believe that user

generated content infringes a copyright that you own or control, please email

team@molli.tv.

- The Molli app and Molli.tv contain Content of Molli (&quot;Molli Content&quot;). Molli Content

is protected by copyright, trademark, patent, trade secret and other laws, and

Molli owns and retains all rights in the Molli Content and the Molli owned assets.

Molli hereby grants you a limited, revocable, nonsublicensable license to

reproduce and display the Molli Content (excluding any software code) solely for

your personal use in connection with viewing the Site and using the Molli

Services.

-The Molli Services contain Content of Users and other Molli licensors. Except as

provided within this Agreement, you may not copy, modify, publish, translate,

broadcast, transmit, distribute, perform, display, or sell any Content appearing on

or through Molli assets.

- Molli performs technical functions necessary to offer Molli, including but not

limited to transcoding and/or reformatting Content to allow its use throughout

Molli.

- Although the Site and other Molli Services are normally available, there will be

occasions when the Site or other Molli Services will be interrupted for scheduled

maintenance, upgrades, for emergency repairs, or due to failure of

telecommunications links and equipment that are beyond the control of Molli.

Also, although Molli will normally only delete Content that violates this

Agreement, Molli reserves the right to delete any Content for any reason, without

any prior notice. Deleted content may be stored by Molli in order to comply with

certain legal obligations and is not retrievable without a valid court order.

Consequently, Molli encourages users to maintain their own backup of Content.

In other words, Molli is not a backup service. Molli will not be liable to you for any

modification, suspension, or discontinuation of Molli assets, or the loss of any

Content.
    </p>
  </ion-content>
</ion-view>
