<ion-view view-title="Molli" hide-back-button="true">

  <ion-content>
    <ion-list>
      <div class="item item-divider" style="text-align:center;">
        My Montages
      </div>
      
      <div class="list card" ng-repeat="montage in montages">
        <div class="item item-divider" style="text-align:center;">
         {{montage.title}}
        </div>
        <div class="item item-image" style="height:50%;">
          <a ui-sref="app.watch_montage({montage_id:montage._id})">
            <video  style="" webkit-playsinline>
                <source ng-src='{{trustSrc("http://Molli.tv/videos/" + montage.videos[0].video)}}' > 
              </video>
          </a>
        </div>
        <div class="item item-divider" style="text-align:center;">
          By: ${{montage.belongs_to_username}}
        </div>
      </div>

      </div>
       <ion-infinite-scroll
        on-infinite="loadMore()"
        distance="7%"
        ng-hide="!noMoreVideos"
        ng-hide="!noMontages"
        >
      </ion-infinite-scroll>
    </ion-list>
    <p ng-show="!noMontages" style="padding:10%;"> Make montages <a ui-sref="app.create_montage">here.</a> </p>
    <p ng-show="videos" style="text-align:center;">You haven't made any montages! Make one here <a ui-sref="app.create_montage">here.</a></p>
  </ion-content>
</ion-view>
