<ion-view view-title="Molli" hide-nav-bar="true">
  <ion-content>
  		<div class="modal transparent fullscreen-player">
  			<video  id="video" class="centerme" autoplay></video>
  			<div class="share_button"><p style="vertical-align:middle;"><i class="icon ion-share"></i></p></div>
  			<div class="home_button" ><a ui-sref="app.home" class="button_link"><p style="vertical-align:middle;"><i class="icon ion-home"></i></a></p></div>
			<div class="overlay"><p style="vertical-align:middle;">{{caption}}</p></div>
		</div> 
  </ion-content>
</ion-view>
